@model HumanResourcesManagmentCapstone.ViewModel.AttendanceViewModel
@{
    ViewBag.Title = "Details";
}
<div>
    <h4>AttendanceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetWorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetWorkingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeWorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeWorkingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbsentDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbsentDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministratorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministratorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
