@model IEnumerable<HumanResourcesManagmentCapstone.ViewModel.AttendanceViewModel>
@if (Model.Count() <= 0)
{
    <p>Not Found.</p>
}
else
{

<h2>ForList</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetWorkingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeWorkingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsentDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedBack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetWorkingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeWorkingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbsentDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedBack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
    </tr>
}

</table>
}