@model IEnumerable<HumanResourcesManagmentCapstone.ViewModel.AttendanceViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetWorkingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeWorkingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsentDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedBack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdministratorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetWorkingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeWorkingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbsentDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedBack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdministratorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
