@model IEnumerable<HumanResourcesManagmentCapstone.ViewModel.AchievementViewModel>
@{
    ViewBag.Title = "Achievements List";
}
<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: border-box;
    }
</style>
<h2>Achievements list</h2>

<p>
    @Html.ActionLink("Create New Achievement", "Create", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Count() == 0)
{
    <p>List not found</p>
}
else
{
    <table class="table table-striped table-hover" id="achievementsTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AchievementType)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Discription)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AchievementType)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.EmployeeId)
                        </td>*@
                    @if (User.IsInRole("Admin"))
                    {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm box-shadow--4dp" })
                    </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $('#achievementsTable').dataTable({
            "columnDefs": [
                { "orderable": false, "targets": -1 }
            ]
        });
    </script>
}

@section styles
{
   @* <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
}
