@model HumanResourcesManagmentCapstone.ViewModel.CommunicationSkillViewModel

<div>
    <h4>CommunicationSkill Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SkillType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm box-shadow--4dp" })
    </p>
}
