<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team members <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Attendance", "Index", "Attendance")</li>
                            <li>@Html.ActionLink("Certification", "Index", "Certification")</li>
                            <li>@Html.ActionLink("Achievement", "Index", "Achievement")</li>
                            <li>@Html.ActionLink("Experience", "Index", "Experience")</li>
                            <li>@Html.ActionLink("CommunicationSkill", "Index", "CommunicationSkill")</li>
                            <li>@Html.ActionLink("Network", "Index", "Network")</li>
                            <li>@Html.ActionLink("Performance", "Index", "Performance")</li>
                            <li>@Html.ActionLink("Evaluation", "Index", "Evaluation")</li>

                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
            <footer class="container-fluid text-center">
                <a href="#myPage" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <div id="contact" class="container-fluid bg-grey">
                    <h4 class="text-center">CONTACT</h4>
                    <div class="row">
                        <div class="col-sm-5 dt-center">
                            <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
                            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
                        </div>
                    </div>
                </div>
            </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
